<div class="container">
    <div class="row vh-100">
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
            <h2 class="mb-4">REGÍSTRESE EN BANCA EMPRESAS</h2>
            <img src="assets/logo-Banquito.png" class="img-fluid" style="max-height: 500px;">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="card mt-5 custom-card-background background-color" style="width: 100%; padding:50px ">
                <div class="card-body">
                    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label id="label" for="ruc">RUC de la empresa</label>
                            <input type="text" id="ruc" formControlName="ruc" class="form-control"
                                [ngClass]="{'is-invalid': submitted && f['ruc'].errors}" />
                            <div *ngIf="submitted && f['ruc'].errors"
                                class="invalid-feedback custom-invalid-feedback">
                                <div *ngIf="f['ruc'].errors['required']">El RUC es requerido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label id="label" for="docIdentidad">Documento de identidad</label>
                            <input type="docIdentidad" id="docIdentidad" formControlName="docIdentidad" class="form-control"
                                [ngClass]="{'is-invalid': submitted && f['docIdentidad'].errors}" />
                            <div *ngIf="submitted && f['docIdentidad'].errors"
                                class="invalid-feedback custom-invalid-feedback">
                                <div *ngIf="f['docIdentidad'].errors['required']">El documento de identidad es requerido</div>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center w-100">
                            <button type="submit" class="btn btn-primary mt-3 w-100 button-color">Continuar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
