<div class="container-fluid">
    <div class="menu d-flex flex-column align-items-center">
        <app-menu></app-menu>
    </div>
    <div class="content d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card mt-5 custom-card-background" style="padding: 50px; margin:20px">
            <h3 class="text-center">ORDEN RECAUDOS</h3>
            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <div class="card mt-5 custom-card-background background-color" style="width: 100%; padding:50px ">
                    <div class="card-body">
                        <form [formGroup]="recaudoForm" (ngSubmit)="onSubmit()">
                            <div class="d-flex justify-content-between">
                                <div class="form-group me-2" style="flex: 1;">
                                    <label id="label" for="nombres">Nombres</label>
                                    <input type="text" id="nombres" formControlName="nombres" class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['nombres'].errors}" />
                                    <div *ngIf="submitted && f['nombres'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['nombres'].errors['required']">Los nombres son requeridos</div>
                                    </div>
                                </div>
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="cedula">Cédula</label>
                                    <input type="cedula" id="cedula" formControlName="cedula" class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['cedula'].errors}" />
                                    <div *ngIf="submitted && f['cedula'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['cedula'].errors['required']">La cédula es requerida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="nContrato">Número de contrato</label>
                                    <input type="nContrato" id="nContrato" formControlName="nContrato"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['nContrato'].errors}" />
                                    <div *ngIf="submitted && f['nContrato'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['nContrato'].errors['required']">El número de contrato es
                                            requerido</div>
                                    </div>
                                </div>
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="monto">Monto</label>
                                    <input type="monto" id="monto" formControlName="monto" class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['monto'].errors}" />
                                    <div *ngIf="submitted && f['monto'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['monto'].errors['required']">El monto es requerido</div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="fechaInicio">Fecha de inicio</label>
                                    <input type="date" id="fechaInicio" formControlName="fechaInicio"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['fechaInicio'].errors}" />
                                    <div *ngIf="submitted && f['fechaInicio'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['fechaInicio'].errors['required']">La fecha de inicio es
                                            requerida</div>
                                    </div>
                                </div>
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="fechaVencimiento">Fecha de vencimiento</label>
                                    <input type="date" id="fechaVencimiento" formControlName="fechaVencimiento"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['fechaVencimiento'].errors}" />
                                    <div *ngIf="submitted && f['fechaVencimiento'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['fechaVencimiento'].errors['required']">La fecha de inicio es
                                            requerida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="cuentaAcreditar">Cuenta a acreditar</label>
                                    <input type="cuentaAcreditar" id="cuentaAcreditar" formControlName="cuentaAcreditar"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['cuentaAcreditar'].errors}" />
                                    <div *ngIf="submitted && f['cuentaAcreditar'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['cuentaAcreditar'].errors['required']">La cuenta a acreditar es
                                            requerida</div>
                                    </div>
                                </div>
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="contrapartida">Contrapartida</label>
                                    <input type="contrapartida" id="contrapartida" formControlName="contrapartida"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['contrapartida'].errors}" />
                                    <div *ngIf="submitted && f['contrapartida'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['contrapartida'].errors['required']">La contrapartida es requerida
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="descripcion">Descripción</label>
                                    <input type="descripcion" id="descripcion" formControlName="descripcion"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['descripcion'].errors}" />
                                    <div *ngIf="submitted && f['descripcion'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['descripcion'].errors['required']">La descripción es requerida
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-center w-100">
                                <button type="submit" class="btn btn-primary mt-3 w-100 button-color">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>