<div class="container-fluid">
    <div class="menu d-flex flex-column align-items-center">
        <app-menu></app-menu>
    </div>
    <span class="navbar-text position-absolute" *ngIf="usuario" style="right: 20px; top: 20px; font-size: 20px;">
        Bienvenido, {{ usuario.fullName}}!
      </span>
    <div class="content">
        <div class="card mt-5 custom-card-background" style="padding: 50px; margin:20px">
            <h3 class="text-center">REPORTES EN TIEMPO REAL</h3>
 

            <div class="chart-container" style="position: relative">
                <canvas id="myChart"></canvas>
              </div>
        </div>
    </div>
</div>