<nav class="navbar navbar-expand-lg navbar-light flex-column align-items-start full-height">
    <img src="assets/logo-Banquito.png" class="img-fluid" style="max-height: 100px; margin-bottom: 20px;">
    <p class="navbar-brand">Mis productos</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse full-height" id="navbarNav">
        <ul class="navbar-nav flex-column w-100">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['/posicionConsolidada']">Posición consolidada</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" (click)="toggleDropdown($event)"
                    aria-expanded="false">
                    Cuentas
                </a>
                <ul class="dropdown-menu custom-dropdown-menu w-100" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" [routerLink]="['/cuentas']">Movimientos</a></li>
                </ul>
            </li>
            <li *ngIf="!termsAccepted"  class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" (click)="toggleDropdown($event)"
                    aria-expanded="false">
                    Opciones
                </a>
                <ul class="dropdown-menu custom-dropdown-menu w-100" aria-labelledby="navbarDropdown2">
                    <li><a class="dropdown-item" [routerLink]="['/onboarding']">Activación de cobros y recaudos</a></li>
                </ul>
            </li>
            <li *ngIf="termsAccepted" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" (click)="toggleDropdown($event)"
                    aria-expanded="false">
                    Cobros
                </a>
                <ul class="dropdown-menu custom-dropdown-menu w-100" aria-labelledby="navbarDropdown3">
                    <li><a class="dropdown-item" [routerLink]="['/ordenCobro']">Orden de cobro</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/reporteCobro']">Reportes</a></li>
                </ul>
            </li>
            <li *ngIf="termsAccepted" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown4" role="button" (click)="toggleDropdown($event)"
                    aria-expanded="false">
                    Recaudos
                </a>
                <ul class="dropdown-menu custom-dropdown-menu w-100" aria-labelledby="navbarDropdown4">
                    <li><a class="dropdown-item" [routerLink]="['/ordenRecaudo']">Orden de recaudo</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/reporteRecaudo']">Reportes diarios</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/reporteTiempoReal']">Reportes de tiempo real</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deshabilitado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" style="margin-top: 30px;">Cerrar
                    sesión</a>
            </li>
        </ul>
    </div>
</nav>