html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0E3A5D ;
  color:white;
}

.full-height {
  height: 100%;
}

.navbar.full-height {
  height: 100%;
}

.collapse.full-height {
  height: 100%;
}

.dropdown-menu {
  width: 100%;
  white-space: normal; /* Permite el salto de línea dentro del elemento */
  word-wrap: break-word; /* Permite que las palabras largas se partan para ajustarse */
}

.nav-item {
  width: 100%;
  padding: 20px;
}


.dropdown-item {
  white-space: normal; /* Permite el salto de línea dentro del elemento */
  word-wrap: break-word; /* Permite que las palabras largas se partan para ajustarse */
  max-width: 100%; /* Asegura que el texto no se salga del contenedor */
}


/* Custom style for the navbar toggler icon */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}