<div class="container-fluid">
    <div class="menu d-flex flex-column align-items-center">
        <app-menu></app-menu>
    </div>
    <span class="navbar-text position-absolute" *ngIf="usuario" style="right: 20px; top: 20px; font-size: 20px;">
        Bienvenido, {{ usuario.usuario }}!
      </span>
    <div class="content">
        <div class="card mt-5 custom-card-background" style="padding: 50px; margin:20px">
            <h3 class="text-center">MOVIMIENTOS</h3>
            <div class="row">
                <div class="">
                    <form [formGroup]="cuentasForm" (ngSubmit)="onSubmit()" class="d-flex flex-wrap">
                        <div class="form-group flex-grow-1">
                            <select id="cuentas" formControlName="cuentas" class="form-control" [ngClass]="{'is-invalid': submitted && f['cuentas'].errors}">
                                <option value="">Selecciona una cuenta</option>
                                <option *ngFor="let cuenta of cuentas" [value]="cuenta">{{ cuenta }}</option>
                            </select>
                            <div *ngIf="submitted && f['cuentas'].errors" class="invalid-feedback custom-invalid-feedback">
                                <div *ngIf="f['cuentas'].errors['required']">La cuenta es requerida</div>
                            </div>
                        </div>       
                        <div class="form-group flex-grow-1">
                            <select id="tipo" formControlName="tipo" class="form-control" [ngClass]="{'is-invalid': submitted && f['tipo'].errors}">
                                <option value="">Selecciona un tipo de consulta</option>
                                <option value="ultimosMovs">Últimos movimientos</option>
                                <option value="rangoFecha">Por rango de fecha</option>
                            </select>
                            <div *ngIf="submitted && f['tipo'].errors" class="invalid-feedback custom-invalid-feedback">
                                <div *ngIf="f['tipo'].errors['required']">El tipo de consulta es requerido</div>
                            </div>
                        </div>  
                        <div class="w-100"></div> <!-- Línea para forzar un salto de línea -->
                        <div class="form-group flex-grow-1 mt-2">
                            <div *ngIf="cuentasForm.get('tipo')?.value === 'rangoFecha'">
                                <label for="fechaInicio">Fecha de inicio</label>
                                <input type="date" id="fechaInicio" formControlName="fechaInicio" class="form-control">
                            </div>
                        </div>
                        <div class="form-group flex-grow-1 mt-2">
                            <div *ngIf="cuentasForm.get('tipo')?.value === 'rangoFecha'">
                                <label for="fechaFin">Fecha de fin</label>
                                <input type="date" id="fechaFin" formControlName="fechaFin" class="form-control">
                            </div>
                        </div>                
                        <div class="ml-auto mt-2">
                            <button type="submit" class="btn btn-primary button-color">Consultar</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card custom-card-background" style="padding: 20px;">
                        <table class="table" *ngIf="submitted && cuentasForm.valid">
                            <thead>
                                <tr>
                                    <th scope="col" id="title">Fecha</th>
                                    <th scope="col" id="title">Concepto</th>
                                    <th scope="col" id="title">Documento</th>
                                    <th scope="col" id="title">Tipo</th>
                                    <th scope="col" id="title">Oficina</th>
                                    <th scope="col" id="title">Monto</th>
                                    <th scope="col" id="title">Saldo contable</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let mov of movimientos">
                                    <td>{{ mov.fecha }}</td>
                                    <td>{{ mov.concepto }}</td>
                                    <td>{{ mov.documento }}</td>
                                    <td>{{ mov.tipo }}</td>
                                    <td>{{ mov.oficina }}</td>
                                    <td>{{ mov.monto }}</td>
                                    <td>{{ mov.saldoContable }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>