.background-color {
    background-color: #03B5CF;
  }
  
.button-color{
    background-color: #FCBE18;
    color: black;
    border-color:#FCBE18;
}
.button-color-second{
    background-color: #BFE7ED;
    color: black;
    border-color: #BFE7ED;
}


.form-group{
    margin-bottom: 50px;
}

#label{
    margin-bottom: 20px;
}

.custom-invalid-feedback {
    color: white;
}
