<div class="container-fluid">
    <div class="menu d-flex flex-column align-items-center">
        <app-menu></app-menu>
    </div>
    <div class="content">
        <div class="card mt-5 custom-card-background" style="padding: 50px; margin:20px">
            <h3 class="text-center">REPORTES DE COBROS</h3>
            <div class="row">
                <div class="col-md-6">
                    <nav class="navbar navbar-expand-lg navbar-light  flex-column align-items-start">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav flex-column w-100">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Rango de fechas
                                    </a>
                                    <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item">Por rango de fecha</a></li>
                                        <li><a class="dropdown-item">Últimos movimientos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary button-color">Consultar</button>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card custom-card-background" style="padding: 20px;">


                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" id="title">Referencia</th>
                                    <th scope="col" id="title">Nombre del cliente</th>
                                    <th scope="col" id="title">Tipo de identificación</th>
                                    <th scope="col" id="title">Identificación</th>
                                    <th scope="col" id="title">Cuenta del cliente</th>
                                    <th scope="col" id="title">Monto</th>
                                    <th scope="col" id="title">Fecha de inicio</th>
                                    <th scope="col" id="title">Fecha de vencimiento</th>
                                    <th scope="col" id="title">Cuenta a acreditar</th>
                                    <th scope="col" id="title">Tipo</th>
                                    <th scope="col" id="title">Frecuencia</th>
                                    <th scope="col" id="title">Cancelado</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cobro of cobros">
                                  <td>{{ cobro.referencia }}</td>
                                  <td>{{ cobro.nombreCliente }}</td>
                                  <td>{{ cobro.tipoId }}</td>
                                  <td>{{ cobro.identificacion }}</td>
                                  <td>{{ cobro.cuentaCliente }}</td>
                                  <td>{{ cobro.monto }}</td>
                                  <td>{{ cobro.fechaInicio }}</td>
                                  <td>{{ cobro.fechaVencimiento }}</td>
                                  <td>{{ cobro.cuentaAcreditar }}</td>
                                  <td>{{ cobro.tipo }}</td>
                                  <td>{{ cobro.frecuencia }}</td>
                                  <td>{{ cobro.cancelado }}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>