<div class="container-fluid">
    <div class="menu d-flex flex-column align-items-center">
        <app-menu></app-menu>
    </div>
    <div class="content">
        <div class="card mt-5 custom-card-background" style="padding: 50px; margin:20px">
            <h3 class="text-center">POSICIÓN CONSOLIDADA</h3>
            <div class="row">
                <div class="col-md-6">
                    <nav class="navbar navbar-expand-lg navbar-light  flex-column align-items-start">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav flex-column w-100">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Cuentas
                                    </a>
                                    <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item">XXXXXX</a></li>
                                        <li><a class="dropdown-item">YYYYYYY</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary button-color">Consultar</button>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card custom-card-background" style="padding: 20px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" id="title">Cuenta</th>
                                    <th scope="col" id="title">Tipo de cuenta</th>
                                    <th scope="col" id="title">Fecha de apertura</th>
                                    <th scope="col" id="title">Estado</th>
                                    <th scope="col" id="title">Saldo contable</th>
                                    <th scope="col" id="title">Saldo disponible</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">xxxxxxxxx</th>
                                    <td>Ahorros</td>
                                    <td>12/02/2024</td>
                                    <td>Activo</td>
                                    <td>0,00</td>
                                    <td>0,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>