<div class="container">
    <img src="assets/logo-Banquito.png" class="img-fluid" style="max-height: 100px;">

    <div class="row vh-100 align-items-center">
        <div class="col-md-6 h-100 d-flex flex-column">
            <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column align-items-start h-100 w-100">
                <a class="navbar-brand" href="#">Mis productos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse h-100" id="navbarNav">
                    <ul class="navbar-nav flex-column w-100">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Posición consolidada</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Cuentas
                            </a>
                            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Movimientos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Opciones
                            </a>
                            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown2">
                                <li><a class="dropdown-item" href="#">Activación de cobros y recaudos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Cobros
                            </a>
                            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown3">
                                <li><a class="dropdown-item" href="#">Orden de cobro</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Reportes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Recaudos
                            </a>
                            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown4">
                                <li><a class="dropdown-item" href="#">Orden de recaudo</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Reportes diarios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Reportes de tiempo real</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Perfil de usuario
                            </a>
                            <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown5">
                                <li><a class="dropdown-item" href="#">Gestión de usuario</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Gestión de contraseña</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deshabilitado</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center h-100">
            <div class="card mt-5 custom-card-background" style="width: 100%; padding: 50px;">
                <h3 class="text-center">POSICIÓN CONSOLIDADA</h3>
                <div class="row">
                    <div class="col-md-6">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column align-items-start">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav flex-column w-100">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Cuentas
                                        </a>
                                        <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item">XXXXXX</a></li>
                                            <li><a class="dropdown-item">YYYYYYY</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary button-color">Consultar</button>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="card custom-card-background" style="padding: 20px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" id="title">Cuenta</th>
                                        <th scope="col" id="title">Tipo de cuenta</th>
                                        <th scope="col" id="title">Fecha de apertura</th>
                                        <th scope="col" id="title">Estado</th>
                                        <th scope="col" id="title">Saldo contable</th>
                                        <th scope="col" id="title">Saldo disponible</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">xxxxxxxxx</th>
                                        <td>Ahorros</td>
                                        <td>12/02/2024</td>
                                        <td>Activo</td>
                                        <td>0,00</td>
                                        <td>0,00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
