<div class="container-fluid">
    <div class="menu d-flex flex-column align-items-center">
        <app-menu></app-menu>
    </div>
    <span class="navbar-text position-absolute" *ngIf="usuario" style="right: 20px; top: 20px; font-size: 20px;">
        Bienvenido, {{ usuario.fullName}}!
    </span>

    <div class="d-flex flex-column align-items-center" style="width: 100%;">

        <img src="assets/logo-Banquito.png" class="img-fluid invisible-image"
            style="max-height: 100px; margin-bottom: 20px;">
        <div class="card mt-5 custom-card-background" style="padding: 50px; margin:20px">
            <h4 class="text-center">{{ empresalocal[0].companyName}}</h4>
            <br>
            <h3 class="text-center">POSICIÓN CONSOLIDADA</h3>
            <div class="row">
                <div class="col-md-6">

                    <form [formGroup]="cuentasForm" (ngSubmit)="onSubmit()" class="d-flex flex-wrap">
                        <div class="form-group me-2" style="flex: 1;">
                          <label for="cuenta">Cuenta a consultar</label>
                          <select id="cuenta" formControlName="cuenta" class="form-control"
                            [ngClass]="{'is-invalid': submitted && f['cuenta'].errors}">
                            <option value="">Seleccione una cuenta</option>
                            <option *ngFor="let cuenta of cuentas" [value]="cuenta.accountNumber">
                              {{ cuenta.accountNumber }}
                            </option>
                          </select>
                          <div *ngIf="submitted && f['cuenta'].errors" class="invalid-feedback custom-invalid-feedback">
                            <div *ngIf="f['cuenta'].errors['required']">La cuenta a acreditar es requerida</div>
                          </div>
                        </div>
                        <div class="w-100"></div> <!-- Línea para forzar un salto de línea -->
                        <div class="ml-auto mt-2">
                          <button type="submit" class="btn btn-primary button-color">Consultar</button>
                        </div>
                      </form>

                    <!-- <form [formGroup]="cuentasForm" (ngSubmit)="onSubmit()" class="d-flex">
                        <div class="form-group flex-grow-1">
                            <select id="cuentas" formControlName="cuentas" class="form-control" [ngClass]="{'is-invalid': submitted && f['cuentas'].errors}">
                                <option value="">Selecciona una cuenta</option>
                                <option *ngFor="let cuenta of cuentas" [value]="cuenta">{{ cuenta }}</option>
                            </select>
                            <div *ngIf="submitted && f['cuentas'].errors" class="invalid-feedback custom-invalid-feedback">
                                <div *ngIf="f['cuentas'].errors['required']">La cuenta es requerida</div>
                            </div>
                        </div>                        
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-primary button-color">Consultar</button>
                        </div>
                    </form> -->
                </div>
            </div>


            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card custom-card-background" style="padding: 20px;">
                        <table class="table" *ngIf="submitted && cuentasForm.valid">
                            <thead>
                                <tr>
                                    <th scope="col" id="title">Código único de la cuenta</th>
                                    <th scope="col" id="title">Código interno de la cuenta</th>
                                    <th scope="col" id="title">Código internacional de la cuenta</th>
                                    <th scope="col" id="title">Estado</th>
                                    <th scope="col" id="title">Balance actual</th>
                                    <th scope="col" id="title">Balance disponible</th>
                                    <th scope="col" id="title">Balance bloqueado</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr  >
                                  <td>{{ movimientos.codeUniqueAccount }}</td>
                                  <td>{{ movimientos.codeInternalAccount }}</td>
                                  <td>{{ movimientos.codeInternationalAccount }}</td>
                                  <td>{{ movimientos.state }}</td>
                                  <td>{{ movimientos.currentBalance }}</td>
                                  <td>{{ movimientos.availableBalance }}</td>
                                  <td>{{ movimientos.blockedBalance }}</td>
                                 
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>