.custom-card-background {
    border: none;
  }
  
  .background-color {
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
  }
  
  
.button-color{
    background-color: #FCBE18;
    color: black;
    border-color:#FCBE18;
}
.button-color-second{
    background-color: #BFE7ED;
    color: black;
    border-color: #BFE7ED;
}
