<div class="container-fluid">
    <div class="menu d-flex flex-column align-items-center">
        <app-menu></app-menu>
    </div>
    <span class="navbar-text position-absolute" *ngIf="usuario" style="right: 20px; top: 20px; font-size: 20px;">
        Bienvenido, {{ usuario.usuario }}!
      </span>
    <div class="content d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="card mt-5 custom-card-background" style="padding: 50px; margin:20px">
            <h3 class="text-center">ORDEN COBROS</h3>
            <div class="col-md-12 d-flex align-items-center justify-content-center">
                <div class="card mt-5 custom-card-background background-color" style="width: 100%; padding:50px ">
                    <div class="card-body">
                        <form [formGroup]="cobroForm" (ngSubmit)="onSubmit()">
                            <div class="d-flex justify-content-between">
                                <div class="form-group me-2" style="flex: 1;">
                                    <label id="label" for="usuario">Referencia</label>
                                    <input type="text" id="usuario" formControlName="usuario" class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['usuario'].errors}" />
                                    <div *ngIf="submitted && f['usuario'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['usuario'].errors['required']">La referencia es requerido</div>
                                    </div>
                                </div>
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="cuentaAcreditar">Cuenta a acreditar</label>
                                    <input type="cuentaAcreditar" id="cuentaAcreditar" formControlName="cuentaAcreditar"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['cuentaAcreditar'].errors}" />
                                    <div *ngIf="submitted && f['cuentaAcreditar'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['cuentaAcreditar'].errors['required']">La cuenta a acreditar es
                                            requerida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">

                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="fechaInicio">Fecha de inicio</label>
                                    <input type="date" id="fechaInicio" formControlName="fechaInicio"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['fechaInicio'].errors}" />
                                    <div *ngIf="submitted && f['fechaInicio'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['fechaInicio'].errors['required']">La fecha de inicio es requerida
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="fechaVencimiento">Fecha de vencimiento</label>
                                    <input type="date" id="fechaVencimiento" formControlName="fechaVencimiento"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['fechaVencimiento'].errors}" />
                                    <div *ngIf="submitted && f['fechaVencimiento'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['fechaVencimiento'].errors['required']">La fecha de inicio es
                                            requerida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="form-group ms-2" style="flex: 1;">
                                    <label id="label" for="frecuencia">Frecuencia de cobro</label>
                                    <input type="frecuencia" id="frecuencia" formControlName="frecuencia"
                                        class="form-control"
                                        [ngClass]="{'is-invalid': submitted && f['frecuencia'].errors}" />
                                    <div *ngIf="submitted && f['frecuencia'].errors"
                                        class="invalid-feedback custom-invalid-feedback">
                                        <div *ngIf="f['frecuencia'].errors['required']">La frecuencia de cobro es
                                            requerida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center w-100">
                                <button type="submit" class="btn btn-primary mt-3 w-100 button-color">Cargar
                                    archivo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>